asgiref==3.8.1
Brotli==1.1.0
click==8.1.7
colorama==0.4.6
diff-match-patch==20230430
dj-database-url==2.2.0
Django==3.2.7
django-allauth==0.63.6
django-browser-reload==1.15.0
django-ckeditor==6.0.0
django-ckeditor-5==0.1.6
django-crispy-forms==1.12.0
django-debug-toolbar==2.2
django-dotenv==1.4.2
django-environ==0.9.0
django-import-export==4.1.1
django-jazzmin==2.6.2
django-js-asset==2.2.0
django-social-share==2.2.1
django-static-fontawesome==5.14.0.0
django-taggit==3.0.0
django-tailwind==3.3.0
gunicorn==20.0.4
h11==0.14.0
Pillow==9.1.0
psycopg2-binary==2.9.1
pytz==2024.2
sqlparse==0.5.1
tablib==3.5.0
typing_extensions==4.12.2
uvicorn==0.30.6
whitenoise==6.7.0
